<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <appender name="STDOUT" class="org.alcibiade.pandiscovery.log.CustomConsoleAppender">
    </appender>

    <logger name="org.apache.pdfbox" level="OFF"/>
    <logger name="org.alcibiade.pandiscovery" level="DEBUG"/>

    <root level="ERROR">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
